.main-container {
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-top: 5vh;
    padding-left: 6.7em;
    background: #fafafa;
}

.breadcrumb {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

.admin-inventory {
    margin-top: 3px;
    margin-left: 6.7em;
    margin-right: 6.7em;
    display: grid;
    grid-template-columns: [col1] 20% [col2] 80% [col3];
    grid-template-rows: [row1] 100% [row2];
    column-gap: 5px;
    height: 150vh;
}

.section-1 {
    grid-row-start: row1;
    grid-row-end: row2;
    grid-column-start: col1;
    grid-column-end: col2;
    box-shadow: 1px 2px 4px grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.section-2 {
    grid-row-start: row1;
    grid-row-end: row2;
    grid-column-start: col2;
    grid-column-end: col3;
    box-shadow: 1px 2px 4px grey;
    border: none;
}

.section-link {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: gray;
    color: white;
    font-size: 1em;
    font-weight: 400;
    font-family: "Nunito" ,sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
}

.section-link:hover {
    background: #096dd9;
}

.clicked-link {
    background: #096dd9;
    animation: fadeIn 1s;
}
