@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-top: 5vh;
    padding-left: 6.7em;
    background: white;
    font-family: Nunito;
}

.breadcrumb {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

.reports {
    margin-top: 1em;
    margin-left: 6.7em;
    margin-right: 6.7em;
    display: grid;
    grid-template-columns: [col1] 20% [col2] 80% [col3];
    grid-template-rows: [row1] 100% [row2];
    column-gap: 5px;
    height: 120vh;
    background: white;
}

.section-1 {
    grid-row-start: row1;
    grid-row-end: row2;
    grid-column-start: col1;
    grid-column-end: col2;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(168, 166, 166);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    background: white;
}

.section-2 {
    grid-row-start: row1;
    grid-row-end: row2;
    grid-column-start: col2;
    grid-column-end: col3;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(168, 166, 166);
    border: none;
    background: white;
    
}

.section-link {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: gray;
    color: white;
    font-size: 1em;
    font-weight: 400;
    font-family: "Nunito" ,sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
    /* margin-top: 25px; */
}

.section-link:hover {
    background: #096dd9;
}

.clicked {
    background: #096dd9;
}