@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-top: 5vh;
    padding-left: 6.7em;
    background: #fafafa;
}

.breadcrumb {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

.main-box {
    background: fafafa;
    margin-bottom: 1.5em;
    margin-top: 0.2em;
    height: 100vh;
    display: grid;
    /* grid-template-rows: [row1] 100% [row2]; */
    grid-template-columns: [col1] 50% [col2] 50% [col3];
    /* border: 3px solid blueviolet; */
    padding-left: 6.7em;
    padding-right: 6.7em;
    font-size: 15px;
    
}

.post-reports {
    grid-column-start: col1;
    grid-column-end: col2;
    background: #fafafa;
    /* border: 3px solid red; */
    padding-right: 10px;
}

.card {
    background: white;
    height: 94%;
}

.card, .details {
    box-shadow: 2px 3px 4px lightgray;
    border-radius: 10px;
    padding: 20px;
    transition: all ease-in-out 0.5s;
} 

.title {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.flexbox-container{ 
   /* border: 3px solid black;  */
   border: 2px solid lightgray;
   border-radius: 5px;
   justify-content: flex-start;
   overflow: hidden;
   overflow-y: scroll;
   height: 580px;
   margin: 20px;
}

.flexbox-item {
    width:96%;
    /* height:20%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out 0.5s; */
    /* height: 350px; */
    /* border: 3px solid rgb(92, 24, 218); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    transition: all ease-in-out 0.5s;
    margin: 5px;
    padding:5px;
    padding-top: 1em;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding-bottom: 1em;
}



.rdetails {
    display: grid;
    grid-template-columns: [c1] 30% [c2] 70% [c3];
    /* border: 3px solid green; */
    padding-right: 5px;
    /* border: 1px solid lightgray; */

}

.propic{
    grid-column-start: c1;
    grid-column-end: c2;
    /* border: 3px solid orange; */
}

.reporter{
    grid-column-start: c2;
    grid-column-end: c3;
    /* border: 3px solid palevioletred; */
    display: grid;
    grid-template-rows: [ro1] 24.5% [ro2] 24.5% [ro3] 51% [ro4];
}

.reporter-name{
    grid-row-start: ro1;
    grid-row-end: ro2;
    display: grid;
    grid-template-columns: [cc1] 50% [cc2] 50% [cc3];
    /* border: 3px solid brown; */

}

.fname{
    grid-column-start: cc1;
    grid-column-end: cc2;
    /* border: 3px solid blue; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding-right: 5px;
}

.first-name{
    width:93%;
    height: 30px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.list-details{

    font-family: "Nunito", serif;
    padding-left: 10px;
    text-align: center;

}

.lname{
    grid-column-start: cc2;
    grid-column-end: cc3;
    /* border: 3px solid rgb(231, 12, 30); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.last-name{
    width:93%;
    height: 30px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 6px;
    resize: none;
}

.report-post{
    grid-row-start: ro2;
    grid-row-end: ro3;
    display: grid;
    grid-template-columns: [ccc1] 50% [ccc2] 50% [ccc3];
    /* border: 3px solid rgb(241, 218, 7); */

}

.id{
    grid-column-start: ccc1;
    grid-column-end: ccc2;
    /* border: 3px solid rgb(255, 0, 221); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-right: 5px;
    padding-top: 9px;
}

.post-id{
    width:93%;
    height: 30px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.owner{
    grid-column-start: ccc2;
    grid-column-end: ccc3;
    /* border: 3px solid rgb(57, 191, 231); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-left: 5px;
    padding-top: 9px;
}

.post-owner{
    width:93%;
    height: 30px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cause{
    grid-row-start: ro3;
    grid-row-end: ro4;
    /* border: 3px solid darkgreen; */
    display: grid;
    grid-template-rows: [rr1] 100% [rr2];
    padding-top: 6px;
    
    
    
}

.report-cause{
    grid-row-start: rr1;
    grid-row-end: rr2;
    /* border: 3px solid rgb(48, 6, 145); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    justify-content: left;
    padding-top: 9px;
    
    
}

.the-cause{
    width:96.1%;
    height: 120px;
    resize: none;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    overflow: hidden;
    overflow-y: scroll;
} 



.rdelete {
    display: grid;
    grid-template-rows: [rrr1] 100% [rrr2]; 
    /* border: 3px solid rgb(172, 30, 108); */
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:right;
    padding-right: 6px;
    padding-top: 10px;
}

.delete-btn {
    width: 15%;
    background: gray;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    height:35px;
    /* margin-right: 50px; */
    font-family: 'Nunito', serif;
    /* margin-top: 20px; */
    
    
   
}

.delete-btn:hover {
    background: #f5222d;
    border-color: #f5222d;
    color: white;
}

.comment-reports {
    grid-column-start: col2;
    grid-column-end: col3;
    background: #fafafa;
    /* border: 3px solid rgb(5, 185, 20); */
    padding-left: 10px;
}

.c-reporter{
    grid-column-start: c2;
    grid-column-end: c3;
    /* border: 3px solid palevioletred; */
    display: grid;
    grid-template-rows: [roo1] 24.5% [roo2] 24.5% [roo3] 24.5% [roo4] 26.5% [roo5];
}

.c-reporter-name{
    grid-row-start: roo1;
    grid-row-end: roo2;
    display: grid;
    grid-template-columns: [ccc1] 50% [ccc2] 50% [ccc3];
    /* border: 3px solid brown; */

}

.cfname{
    grid-column-start: ccc1;
    grid-column-end: ccc2;
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-right: 5px;
    padding-top: 6px;
}

.cfirst-name{
    width:93%;
    height: 30px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.c-report-post{
    grid-row-start: roo2;
    grid-row-end: roo3;
    display: grid;
    grid-template-columns: [ccc1] 50% [ccc2] 50% [ccc3];
    /* border: 3px solid rgb(241, 218, 7); */

}

.clname{
    grid-column-start: ccc2;
    grid-column-end: ccc3;
    /* border: 3px solid rgb(231, 12, 30); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.clast-name{
    width:93%;
    height: 30px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 7px;
}

.c-report-comment{
    grid-row-start: roo2;
    grid-row-end: roo3;
    display: grid;
    grid-template-columns: [ccc1] 50% [ccc2] 50% [ccc3];
    /* border: 3px solid rgb(241, 218, 7); */

}

.cid{
    grid-column-start: ccc1;
    grid-column-end: ccc2;
    /* border: 3px solid rgb(255, 0, 221); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-right: 5px;
    padding-top: 8px;
}

.cpost-id{
    width:93%;
    height: 30px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cowner{
    grid-column-start: ccc2;
    grid-column-end: ccc3;
    /* border: 3px solid rgb(57, 191, 231); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-left: 5px;
    padding-top: 8px;
}

.cpost-owner{
    width:93%;
    height: 30px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.commentdetails{
    grid-row-start: roo3;
    grid-row-end: roo4;
    display: grid;
    grid-template-columns: [ccc1] 50% [ccc2] 50% [ccc3];
    /* border: 3px solid rgb(7, 182, 59); */

}

.rcid{
    grid-column-start: ccc1;
    grid-column-end: ccc2;
    /* border: 3px solid rgb(255, 0, 221); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-right: 5px;
    padding-top: 10px;
}

.rcowner{
    grid-column-start: ccc2;
    grid-column-end: ccc3;
    /* border: 3px solid rgb(14, 1, 12); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-left: 5px;
    padding-top: 10px;
}

.rcause{
    grid-row-start: roo4;
    grid-row-end: roo5;
    /* border: 3px solid darkgreen; */
    display: grid;
    grid-template-rows: [rr1] 100% [rr2];
}

.report-cause{
    grid-row-start: rr1;
    grid-row-end: rr2;
    /* border: 3px solid rgb(48, 6, 145); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-top: 12px;

}

.thee-cause{
    width:96.1%;
    height: 100px;
    resize: none;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    overflow: hidden;
    overflow-y: scroll;

}

.alllabels{
    font-weight: 600;
    justify-content: left;
    text-align: left;
    align-items: left;
}