.main-container {
  display: flex;
  flex-direction: column;
  height: 15vh;
  margin-top: 5vh;
  padding-left: 6.7em;
  background: #fafafa;
  margin-bottom: 5px;
}

.breadcrumb {
  cursor: pointer;
}

.main-title {
  font-weight: 700;
  font-size: 2em;
  margin: 0;
}
.group-chat-grid {
  background: #fafafa;
  height: 100vh;
  display: grid;
  grid-template-columns: [line1] 27% [line2] 46% [line3] 27% [line4];
  grid-template-rows: [row1] 50% [row2] 25% [row3] 25%[row4];
  margin: 0 6.7em 10vh;
}
.card {
  display: flex;
  flex-direction: column;
  background: white;
}
.card,
.chat-wall {
  box-shadow: 1px 2px 4px lightgray;
  border-radius: 10px;
  padding: 20px;
  transition: all ease-in-out 0.5s;
}
.title {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
}
.filter {
  display: flex;
  flex-direction: column;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.box-01 {
  display: flex;
  justify-content: space-between;
}
.box-02 {
  display: flex;
  justify-content: center;
}
.btn {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 0.1s;
  height: 25px;
}

.filter-btn {
  width: 32%;
  margin-top: 0.5em;
  background: gray;
  border: 1px solid gray;
}

.filter-btn:hover {
  background: white;
  border-color: black;
  color: black;
}

.input-field {
  width: 32%;
  height: 25px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  font-family: "Nunito", serif;
}

.input-field:hover {
  border-color: #ffccc7;
}
.chats {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  gap: 2px;
  overflow: hidden;
  overflow-y: scroll;
}
.list-items {
  height: 20%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 6px;
}
.name-buttons {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
}
.name {
  width: 100%;
  height: 60%;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  text-align: center;
  font-family: "Nunito", serif;
}
.buttons {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
}
.user-pic {
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

.view-btn,
.delete-btn,
.remove-btn {
  background: #595959;
  border: 1px solid #595959;
}

.view-btn:hover {
  background: #096dd9;
  border-color: #096dd9;
  color: white;
}

.delete-btn:hover {
  background: #f5222d;
  border-color: #f5222d;
  color: white;
}
.remove-btn:hover {
  background: #f5222d;
  border: 1px solid #f5222d;
}
.chat-list {
  grid-column-start: line1;
  grid-column-end: line2;
  grid-row-start: row1;
  grid-row-end: row4;
  margin-right: 5px;
}

.chat-wall {
  background: white;
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: row1;
  grid-row-end: row4;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.row-01,
.row-02,
.row-03,
.row-04 {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 1px 2px 4px lightgray;
}
.row-01 {
  height: 7%;
  padding: 5px;
}
.top-window {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.group-name {
  width: 30%;
  height: 50%;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  text-align: center;
  font-family: "Nunito", serif;
}
.group-pic {
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
}
.edit-btn {
  width: 15%;
  background: #595959;
  border: 1px solid #595959;
}
.edit-btn:hover {
  background: #fa8c16;
  border-color: #fa8c16;
  color: white;
}
.row-02 {
  height: 42%;
  margin-top: 2px;
}

.row-03 {
  height: 8%;
  /* border: 2px green solid; */
  margin-top: 2px;
}
.row-04 {
  height: 42%;
  margin-top: 2px;
}
.participants {
  width: 100%;
  display: flex; 
  flex-direction: column;
  background: white;
  border: 1px solid lightgrey;
  padding: 8px;
}

.title-02 {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
}
.Participants-filter {
  border: 1px solid lightgray;
  padding:5px;
  margin-bottom:5px;
  border-radius:5px;
} 
.participants-field {
  width: 32%;
  height: 25px;
  display: flex;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  font-family: "Nunito", serif;
}

.participants-field:hover {
  border-color: #ffccc7;
}

.p_box-01 {
  display: flex;
  justify-content: space-between;
}
.participants-list {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  gap: 2px;
  overflow: hidden;
  overflow-y: scroll;
}
.list {
  height: 25%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 6px;
}
.participants-pic {
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}
.p-name-buttons {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: flex-start;
}
.p-first-name {
  width: 40%;
  height: 60%;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: gray;
  text-align: center;
  font-family: "Nunito", serif;
  margin-right: 5px;
}
.p-last-name {
  width: 40%;
  height: 60%;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: gray;
  text-align: center;
  font-family: "Nunito", serif;
}
.create-group {
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: row2;
  grid-row-end: row3;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px #c7196a solid;
}
.edit-group {
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: row3;
  grid-row-end: row4;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px #ee0505 solid;
}

/* }
.card {
  display: flex;
  flex-direction: column;
  background: white;
}
.filter {
  display: flex;
  flex-direction: column;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border: 1px solid rgb(124, 6, 6);
  border-radius: 5px;
  padding: 3px;
}
.col01 {
  display: flex;
  justify-content: space-between;
}
.col02 {
  display: flex;
  justify-content: center;
  background-color: teal;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 0.1s;
  height: 25px;
}

.filter-btn {
  width: 32%;
  margin-top: 0.5em;
  background: gray;
  border: 1px solid gray;
}
.filter-btn:hover {
  background: white;
  border-color: black;
  color: black;
}
.input-field {
  width: 32%;
  height: 25px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  font-family: "Nunito", serif;
}
.input-field:hover {
  border-color: #ffccc7;
}
.chat-scrol-bar {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  overflow-y: scroll;
}
.scrol-bar {
  width: 100%;
  height: 15%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all ease-in-out 0.5s;
}
.chat-list {
  grid-column-start: line1;
  grid-column-end: line2;
  grid-row-start: row1;
  grid-row-end: row4;
  margin-right: 5px;
  border: 2px #dae90c solid;
}

.chat-wall {
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: row1;
  grid-row-end: row4;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px #79ce17 solid;
}
.available-users {
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: row1;
  grid-row-end: row2;
  margin-left: 5px;
  border: 2px #0c6ce9 solid;
}
.create-group {
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: row2;
  grid-row-end: row3;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px #c7196a solid;
}
.edit-group {
  grid-column-start: line3;
  grid-column-end: line4;
  grid-row-start: row3;
  grid-row-end: row4;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px #ee0505 solid;
} */
