@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Nunito", sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 15vh;
  margin-top: 5vh;
  padding-left: 6.7em;
  background: #fafafa;
  margin-bottom: 5px;
}

.breadcrumb {
  cursor: pointer;
}

.main-title {
  font-weight: 700;
  font-size: 2em;
  margin: 0;
}

.group-chat-grid {
  height: 97vh; 
  display: grid;
  grid-template-columns: [line1] 40% [line2] 60% [line3];
  grid-template-rows: [row1] 50% [row2] 50% [row3];

}

.card {
  display: flex;
  flex-direction: column;
  background: white;
}

.card,
.chat-wall{
  box-shadow: 1px 2px 4px lightgray;
  border-radius: 10px;
  padding: 20px;
  transition: all ease-in-out 0.5s;

}

.title {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.box-01 {
  display: flex;
  justify-content: space-around;
}

.box-02 {
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 0.1s;
  height: 25px;
  font-family: "Nunito", serif;
}

.filter-btn {
  width: 32%;
  margin-top: 0.5em;
  background: gray;
  border: 1px solid gray;
}

.filter-btn:hover {
  background: white;
  border-color: black;
  color: black;
}

.input-field-01 {
  width: 70%;
  height: 25px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  font-family: "Nunito", serif;
}

.input-field {
  width: 32%;
  height: 25px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  font-family: "Nunito", serif;
}
.input-field:hover,
.group-name:hover {
  border-color: #ffccc7;
}

.chats {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  gap: 2px;
  overflow: hidden;
  overflow-y: scroll;
}

.list-items {
  height: 17%;
  width:90%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 6px;
}

.name-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 5px;
  align-items: center;
}

.name {
  width: 100%;
  height: 60%;
  background: white;
  border-radius: 5px;
  color: gray;
  text-align: left;
  margin-left: 5px;
  font-family: "Nunito", serif;
}

.buttons {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
}

.user-pic {
  border: 1px solid lightgray;
  border-radius: 100%;
  text-align: center;
 
}
.user-pic-02 {

  border: 1px solid lightgray;
  border-radius: 100%;
 
}
.create-btn {
  width: 30%;
}

.view-btn,
.delete-btn,
.remove-btn,
.add-btn,
.create-btn,
.edit-btn,
.cancel-btn,
.available-btn,
.participants-btn,
.chat-btn{
  background: #595959;
  border: 1px solid #595959;
}
.chat-btn {
  width: 31%;

}
.add-btn{
  width: 15%;
}

.label{
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 0.1s;
  height:24px;
  text-align: center;
  font-family: "Nunito", serif;
  font-size: 13px;
  background: #595959;
  border: 1px solid #595959;
  width:50%;

}
.label-01{
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 0.1s;
  height:20px;
  text-align: center;
  font-family: "Nunito", serif;
  font-size: 13px;
  background: #595959;
  border: 1px solid #595959;
  width:10%;
  
}
.file-chosen{
  margin-left: 0.3rem;
  font-family: "Nunito", serif;
}
.view-btn:hover,
.chat-btn:hover,
.participants-btn:hover,
.available-btn:hover {
  background: #096dd9;
  border-color: #096dd9;
  color: white;
}

.delete-btn:hover {
  background: #f5222d;
  border-color: #f5222d;
  color: white;
}

.remove-btn:hover {
  background: #f5222d;
  border: 1px solid #f5222d;
}

.add-btn:hover {
  background: #237804;
  border: 1px solid #237804;
}

.create-btn:hover {
  background:  #237804;
  border: 1px solid  #237804;
}

.edit-btn:hover,
.label:hover{
  background: #fa8c16;
  border-color: #fa8c16;
  color: white;
}

.icon-btn:hover {
  cursor: pointer;
  color: #fa8c16;
}

.cancel-btn:hover {
  background: #f5222d;
  border: 1px solid #f5222d;
}

.edit-btn,
.cancel-btn {
  width: 20%;
}

.chat-list {
  grid-column-start: line1;
  grid-column-end: line2;
  grid-row-start: row1;
  grid-row-end: row3;
  margin-right: 5px;

}

.chat-wall {
  background: white; 
  grid-column-start: line2;
  grid-column-end: line3;
  grid-row-start: row1;
  grid-row-end: row3;
  margin-right: 5px;
  margin-left: 5px;
  display:flex;
  flex-direction: column;
}

.row_02,
.row-03 {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.row-01 {
  height: 7%;
  margin-bottom: 9px;
}

.row-02 {
  height: 70%;
  margin-top: 2px;
  flex-direction: column;
  gap: 8px;
}

.result3 {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 10px;
  transition: all ease-in-out 0.5s;
  margin-bottom: 5px;
}

.results3 {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  overflow-y: scroll;
}

.sent-message-line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.received-message-line {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.sent-message {
  border: 1px solid #237804;
  opacity: 70%;
  background: #237804;
  color: white;
  border-radius: 20px;
  max-width: 80%;
  overflow-wrap: break-word;
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.delete-msg-container {
  text-align: right;
}

.delete-msg-icon {
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  border-radius: 100%;
  opacity: 60%;
}

.delete-msg-icon:hover {
  color: white;
  opacity: 100%;
}

.received-message {
  border: 1px solid #434343;
  opacity: 70%;
  background: #434343;
  color: white;
  border-radius: 20px;
  max-width: 80%;
  overflow-wrap: break-word;
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.sender-name,
.time {
  font-size: 0.5em;
}

.time {
  text-align: right;
}

.content {
  font-weight: bold;
}

.row_03 {
  padding: 5px;
}

.chat-message {
  resize: none;
  width: 79%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.create-message-div {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 13%;
  transition: all ease-in-out 0.5s;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.chat-message {
  resize: none;
  width: 79%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.chat-message:hover {
  border: 1px solid #ffccc7;
}

.button-set {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-icon {
  transition: all ease-in-out 0.5s;
  border-radius: 100%;
  padding: 5px;
  opacity: 60%;
}

.send-icon:hover {
  color: white;
  background-color: #237804;
}

.attach-icon:hover {
  color: white;
  background-color: #096dd9;
}

.clear-icon:hover {
  color: white;
  background-color: black;
  
}

.row-04 {
  display: none;
  flex-direction: column;
  height: 90%;
}

.title-02 {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
}

.Participants-filter {
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.participants-field {
  width: 40%;
  height: 25px;
  display: flex;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  font-family: "Nunito", serif;
}

.participants-field:hover,
.input-field-01:hover {
  border-color: #ffccc7;
}

.p_box-01 {
  display: flex;
  justify-content: space-evenly;
}

.participants-list {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  gap: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

.list {
  height: 80%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.create-group {
  width: 50%;
  height: 60%;
  margin: auto;
}

.available-users {
  display: none;
  display: none;
  flex-direction: column;
  height: 90%;

}
.available-users-container {
  border-radius: 5px;
  justify-content: space-around;
  border: 1px solid lightgray;
  align-content: center;
  overflow: hidden;
  overflow-y: scroll;
  height:75%;
}

.available-users-item {
  height: 20%;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 3px;
}

.names-btn-container01 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.names-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 2px;
  align-items: center;
  justify-content: space-between;
}

.btn-container03 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.a-first-name,
.a-last-name {
  width: 48%;
  height: 60%;
  background: white;
  /* border: 1px solid lightgray; */
  border-radius: 5px;
  color: gray;
  font-family: "Nunito", serif;
  text-align: center;
  font-size: 15px;
}

.list-items-02 {
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.buttons-create {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.edit-project-name-div {
  display: none;
}
.new-button{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.button-class {
  justify-items: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}
.group-name {
  width: 100%;
  height: 40px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  font-family: "Nunito", serif;
  text-align: center;
}
.chat-button {
  margin-top:10px;
  display:flex;
  justify-content:center;
}
.pic-button {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 10px;
}
.user-pic-01 {
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.remove-cancel-button {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 57%;
  padding: 10px;
}
.pic{
  display: flex;
  flex-wrap: wrap;
  display: row;
}
