.main-container {
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-top: 5vh;
    padding-left: 6.7em;
    background: #fafafa;
}

.breadcrumb {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

.title1 {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    margin-top: 3px;
}

.title {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
}

.my-account {
    display: grid;
    height: 110vh;
    background: #fafafa;
    grid-template-columns: [line1] 15% [line2] 53% [line3] 32% [line4];
    grid-template-rows: [row1] 55% [row2] 45% [row3];
    margin: 0 6.7em 10vh;
}

.pic-section {
    display: flex;
    background: white;
    flex-direction: column;
    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: row1;
    grid-row-end: row2;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 4px lightgray;
}

.account-details {
    background: white;
    display: flex;
    flex-direction: column;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1;
    grid-row-end: row2;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    box-shadow: 1px 2px 4px lightgray;
}

.projects-contributions {
    display: flex;
    grid-column-start: line1;
    grid-column-end: line3;
    grid-row-start: row2;
    grid-row-end: row3;
    margin-top: 5px;
    margin-right: 5px;
    justify-content: space-between;
    align-items: center;
}

.right-column {
    display: flex;
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: row1;
    grid-row-end: row3;
    margin-left: 5px;
    flex-direction: column;
}

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.user-pic {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    align-self: center;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.1s;
    height: 25px;
}

.remove-pic-btn, .edit-pic-btn {
    width: 100%;
    margin-top: 0.5em;
    background: gray;
    border: 1px solid gray;
}

.edit-details-btn {
    width: 15%;
    background: gray;
    border: 1px solid gray;
}

.edit-pic-btn:hover {
    cursor: pointer;
    background: #fa8c16;
    border: 1px #fa8c16;
}

.remove-pic-btn:hover {
    background: #f5222d;
    border-color: #f5222d;
}

.edit-details-btn:hover {
    cursor: pointer;
    background: #fa8c16;
}

.section-2 {
    width: 100%;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 12px;
}

.container-3 {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.container-4 {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 63px;
}

.section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.section-3-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2px;
}

.first-last-name {
    width: 48%;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-last-name1 {
    width: 48%;
    height: 20px;
    text-align: left;
}

.section-4 {
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4-1 {
    height: 20px;
    border: none;
    border-radius: 5px;
    text-align: left;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
}

.section-5 {
    height: 91px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-5 {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
}

.container-6 {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    margin-top: 12px;
}

.input5 {
    height: 32px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    color: black;
}

::placeholder {
    color: black;
    font-family: "Nunito", serif;
}

.input-first-last-name {
    width: 48%;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.input6 {
    height: 91px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}

.contributions {
    height: 100%;
    width: 45.7%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 1px 2px 4px lightgray;
}

.contributions-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 5px;
}

.contributions-item {
    width: 100%;
    height: 15%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out 0.5s;
    margin-bottom: 5px;
}

.projects {
    height: 100%;
    width: 45.7%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 1px 2px 4px lightgray;
}

.projects-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 5px;
}

.projects-item {
    width: 100%;
    height: 15%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out 0.5s;
    margin-bottom: 5px;
}

.contributions-item:hover, .projects-item:hover, .recharge-details-item:hover {
    box-shadow: 0 0 5px gray;
    cursor: pointer;
}

.password {
    background: white;
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 1px 2px 4px lightgray;
}

.section-6 {
    height: 50%;
    text-align: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.input1 {
    height: 35px;
    width: 100%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-bottom: 10px;
    padding: 5px;
}

.input1:hover, .input4:hover, .input5:hover, .input6:hover, .input-first-last-name:hover {
    border-color: #ffccc7;
}

.submit-btn, .pay-pal-btn {
    background: gray;
    border: 1px solid gray;
}

.cancel-btn {
    background: gray;
    border: 1px solid gray;
}

.submit-btn:hover {
    background: #237804;
    border: 1px solid #237804;
}

.pay-pal-btn:hover {
    background: #096dd9;
    border-color: #096dd9;
}

.cancel-btn:hover {
    background: #f5222d;
    border-color: #f5222d;
}

.subscriptions {
    background: white;
    width: 100%;
    height: 74.5%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 2px 4px lightgray;
}

.sub-type {
    width: 92%;
    height: 15%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 1px 2px 4px lightgray;
}

.recharge-account {
    width: 96%;
    height: 22%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px lightgray;
}

.section-7 {
    width: 99%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-8 {
    width: 47%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-9 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-10 {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input2 {
    width: 47.5%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    padding: 5px;
    text-align: center;
}

.input2:hover, .input3:hover {
    border-color: #ffccc7;
}

.input3 {
    border: 1px solid lightgray;
    height: 30px;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    background: white;
    text-align: center;
    width: 70%;
}

.input3::-webkit-file-upload-button {
    visibility: hidden;
}

.input3::before {
    background: gray;
    color: white;
    content: 'Bank Slip';
    padding: 8px;
    font-size: 13px;
    transition: all 0.15s ease;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    width: 50%;
    height: 100%;
    font-family: 'Nunito', serif;
    justify-content: center;
}

.recharge-details {
    width: 95.5%;
    height: 50%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px lightgray;
}

.filter-field {
    width: 91%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section-11 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.section-14 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.input4 {
    width: 47.5%;
    height: 28px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    padding: 5px;
    text-align: center;
}

.filter-btn {
    background: gray;
    border: 1px solid gray;
    width: 15%;
}

.all-btn {
    background: gray;
    border: 1px solid gray;
    width: 15%;
}

.gen-repo-btn {
    background: gray;
    border: 1px solid gray;
    width: 35%;
}

.gen-repo-btn:hover {
    background: #096dd9;
    border-color: #096dd9;
}

.filter-btn:hover {
    background: white;
    border-color: black;
    color: black;
}

.all-btn:hover {
    background: white;
    border-color: black;
    color: black;
}

.recharge-details-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
    overflow-y: scroll;
    height: 50%;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.recharge-details-item {
    width: 99%;
    height: 62%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all ease-in-out 0.5s;
    margin-bottom: 5px;
}

.section-12 {
    width: 47%;
    height: 80%;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-13 {
    width: 47%;
    height: 80%;
    border: none;
    text-align: center;
}

.bank-slip-btn {
    background: gray;
    border: 1px solid gray;
    width: 55%;
}

.bank-slip-btn:hover {
    background: white;
    border-color: black;
    color: black;
}

.detail {
    color: gray;
    font-weight: bold;
}

.input-error {
    border: 1px solid #f5222d !important;
}

.input-ok {
    border: 1px solid #237804 !important;
}

.message-error {
    color: #f5222d !important;
    font-weight: 600;
}

.message-success {
    color: #237804 !important;
    font-weight: 600 !important;
}