.general {
    font-family: "Nunito", sans-serif;
    padding: 10px;
}

.general-details-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-size: 0.9em;
}

.input {
    height: 35px;
    width: 100%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.input:hover {
    border-color: #ffccc7;
}

.text-area {
    padding: 10px;
    resize: none;
    height: 13em;
    font-weight: bold;
}

.notice {
    color: #f5222d;
    font-size: 0.9em;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.1s;
    height: 25px;
    background: gray;
    border: none;
}

.cancel-btn:hover {
    background: #f5222d;
}

.save-btn:hover {
    background: #237804;
}