.actions {
    display: none;
    padding: 10px;
    width: 100%;
    height: 90%;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.1s;
    height: 25px;
    background: gray;
    border: none;
    margin-top: 10px;
}

.cancel-btn {
    background: #f5222d;
}

.create-btn {
    background: #237804;
}

.message {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.5em;
}