.main-container {
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-top: 5vh;
    padding-left: 6.7em;
    background: #fafafa;
}

.breadcrumb {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

.not-started-yet-projects {
    border: 2px solid red;
    background: #fafafa;
    height: 70vh;
    display: grid;
    grid-template-columns: [col1] 35% [col2] 30% [col3] 35% [col4];
    margin: 0 6.7em 10vh;
}

.projects-list {
    border: 2px solid orange;
    grid-column-start: col1;
    grid-column-end: col2;
}

.project-details {
    border: 2px solid blue;
    grid-column-start: col2;
    grid-column-end: col3;
}

.project-committee {
    border: 2px solid green;
    grid-column-start: col3;
    grid-column-end: col4;
}