.available {
    font-family: "Nunito", sans-serif;
    display: grid;
    grid-template-rows: [row1] 45% [row2] 45% [row3] 10% [row4];
    grid-template-columns: [col1] 100% [col2];
    height: 100%;
}

.card-1 {
    grid-row-start: row1;
    grid-row-end: row2;
    grid-column-start: col1;
    grid-column-end: col2;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    background: #f5f5f5;
}

.card-2 {
    grid-row-start: row2;
    grid-row-end: row3;
    grid-column-start: col1;
    grid-column-end: col2;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    background: #f5f5f5;
}

.card-3 {
    grid-row-start: row3;
    grid-row-end: row4;
    grid-column-start: col1;
    grid-column-end: col2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.1s;
    height: 25px;
}

.filter-btn {
    width: 32%;
    margin-top: 0.5em;
    background: white;
    border: 1px solid black;
    color: black;
}