.main-container {
    height: 15vh;
    margin-top: 5vh;
    padding-left: 6.7em;
    background: #fafafa;
}

.breadcrumb {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}
.private-chat {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #fafafa;
    border:3px solid blue ;
    grid-template-columns: [line1] 27% [line2] 46% [line3] 27% [line4];
    grid-template-rows: [row1] 100% [row2];
    margin: 0 6.7em 10vh;
}
.chat-list {
    border: 3px solid green;
    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: row1;
    grid-row-end: row2;
    height: 100%;
    /*padding-left: 1.5em;*/
    /*padding-right: 1.5em;*/
    display: flex;
    flex-direction: column;
    /*margin: 5px;*/
    /*margin-bottom: 5px;*/
}
.chat-list-title{
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    /*height: 10%;*/
}
.col1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col2 {
    display: flex;
    justify-content: center;
}
.btn {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.1s;
    height: 25px;
}

.filter-btn {
    width: 32%;
    margin-top: 0.5em;
    background: gray;
    border: 1px solid gray;
}
.filter-btn:hover {
    background: white;
    border-color: black;
    color: black;
}

.input{
    width: 48%;
    height: 25px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
}
.input:hover {
    border-color: #ffccc7;
}
.input-avu{
    width: 32%;
    height: 25px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
}
.input-avu:hover {
    border-color: #ffccc7;
}

.chat-list-container {
    border: 3px solid black;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    margin:20px;
}

.chat-list-item{
    height: 15%;
    border: 3px solid deeppink;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out 0.5s;
    margin: 5px;
}

.chat{
    border: 3px solid darkred;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1;
    grid-row-end: row2;
    height: 100%;
    /*padding: 0.5em;*/
    margin-right: 5px;
    /*margin-bottom: 5px;*/
    display:grid;
}

.chat-title{
    /*border: 1px solid lightgray;*/
    border-radius: 5px;
    height: 13vh;
    margin: 5px;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*gap: 5px;*/
    border: 3px solid orange;
/*    margin-right: 5px;*/
/*    margin-bottom: 5px;*/
}
.chat-body{
    /*border: 1px solid lightgray;*/
    border-radius: 5px;
    height: 42vh;
    /*padding: 5px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*gap: 5px;*/
    border: 3px solid paleturquoise;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /*margin-bottom: 5px;*/
}
.input-field{
    /*border: 1px solid lightgray;*/
    border-radius: 5px;
    height: 15vh;
    /*padding: 5px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*gap: 5px;*/
    border: 3px solid rosybrown;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /*margin-bottom: 5px;*/
}

.available-users {
    border: 3px solid green;
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: row1;
    grid-row-end: row2;
    height: 100%;
    /*padding-left: 1.5em;*/
    /*padding-right: 1.5em;*/
    display: flex;
    flex-direction: column;
    /*margin: 5px;*/
    /*margin-bottom: 5px;*/
}

.available-users-title{
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    /*height: 100%;*/
}


.filter-field {
    display: flex;
    flex-direction: column;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px
}
.available-users-container{
    border: 3px solid black;
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: flex-start;

    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    margin:20px;
}
.available-users-item {
    height: 15%;
    border: 3px solid deeppink;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out 0.5s;
    margin: 5px;
}