@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
.input-field {
    font-family: 'Nunito', sans-serif;
}
.reset-password {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    /*width: 40%;*/
    padding: 48px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    text-align: left;
    transform: translate(-50%,-50%);
    width: 478px;
    max-width: 100%;
    max-height: 100%;
}
.title {
    font-size: 2.2rem;
    color: rgb(8, 8, 8);
    margin-bottom: 10px;
}
#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.container1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container2 {
    margin-bottom:10px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-field {
    padding: 10px;
    margin: 6px 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    cursor: text;
}

.input-field input
{
    background: none;
    outline: none;
    border: none;
    line-height: normal;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    display: inline-block;
    height: 100%;
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: bold;
}
#error {
    position: relative;
    color: #f34e57;
    text-align: left;
    margin:10px;
}

.btn-solid{
    width: 100%;
    background-color: #f34e57;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-solid:hover{
    background-color: #e59b9b;
}