@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

 .register-conatiner01 {
    display: none;
    height: 95%;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #fff;
} 

.register-container {
    max-width: 500px;
    width: 100%;
    padding: 25px 30px;
    justify-content: space-between;
    background-color: #fff;
    border: none;
}

.register-container .register-title {
    font-size: 35px;
    color: #2f3640;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.register-input_box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    box-sizing: border-box;
}

input {
    border-radius: 5px;
}

.register-input_box input {
    height: 45px;
    width: 100%;
    outline: none;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    display: inline-block;
    line-height: normal;
}

.register-input_box input::placeholder {
    color: #aaa;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
}

.register-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
}

.register-user_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.register-user_details .register-input_box {
    width: 45%;
}

.register-user_details01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.register-user_details01 .input_box {
    width: 45%;
}

.register-input_box select {
    height: 45px;
    width: 100%;
    outline: none;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    color: #aaa;
}

.register-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.register-btn {
    width: 42%;
    background-color: #f34e57;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.register-btn:hover {
    background-color: #e59b9b;
}

.register-btn_cancel {
    width: 42%;
    background-color: #662626;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.register-btn_cancel:hover {
    background-color: #e59797;
}

/* p {
    text-align: center;
} */
.register-Gender, .register-Batch{
    border-radius:5px;
}