@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.conatiner01 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container {
  max-width: 500px;
  width: 100%;
  padding: 25px 30px;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  margin-bottom: 20px;
}
.container .title {
  font-size: 35px;
  color: #2f3640;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.input-box {
  padding: 10px;
  margin: 6px 0;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  cursor: text;
}
.input_box input {
  height: 45px;
  width: 98%;
  outline: none;
  border: 1px solid #ced4da;
  background-color: #fff;
  font-weight: 700;
  font-size: 0.8em;
  color: #333;
  display: inline-block;
  line-height: normal;
}
.input_box input::placeholder {
  color: #aaa;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
}
.user_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 20px;
}

.user_details .input_box {
  width: 48%;
  justify-content: space-between;
  font-size: 14px;
}
.user_details .input_box input {
  height: 45px;
  width: 106%;
  outline: none;
  border: 1px solid #ced4da;
  background-color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  color: #333;
}
.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
}

.user_details01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user_details01 .input_box {
  width: 50%;
  justify-content: space-between;
  font-size: 14px;
}
.input_box select {
  height: 45px;
  width: 98%;
  outline: none;
  border: 1px solid #ced4da;
  background-color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  color: #aaa;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn {
  width: 47%;
  background-color: #f34e57;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 1px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #e59b9b;
}
.btn_cancel {
  width: 47%;
  background-color: #662626;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 1px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.btn_cancel:hover {
  background-color: #e59797;
}

/* form .input_box input {
  width: 94%;
  height: 45px;
}
form .input_box .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}
.container form .user_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 120px;
  margin-left: 0;
}

.user_details .input_box .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}
.user_details .input_box input {
  height: 45px;
  width: 140%;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}
.Gender {
  height: 45px;
  width: 200%;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 21px;
}

.btn {
  width: 100%;
  background-color: #f34e57;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #e59b9b;
} */
