@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-top: 5vh;
    padding-left: 6.7em;
    background: #fafafa;
}

.breadcrumb {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

.main-box {
    background: #fafafa;
    height: 200vh;
    display: grid;
    grid-template-rows: [row1] 50% [row2] 50% [row3];
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.suggestions-form {
    grid-row-start: row1;
    grid-row-end: row2;
    background: #fafafa;
    margin-left: 30.5em;
    margin-right: 30.5em;
}

.card {
    background: white;
    height: 94%;
}

.card, .details {
    box-shadow: 1px 2px 4px lightgray;
    border-radius: 10px;
    padding: 20px;
    transition: all ease-in-out 0.5s;
}

.suggestions-list-item {
    grid-row-start: row2;
    grid-row-end: row3;
    background: #fafafa;
    margin-left: 25.5em;
    margin-right: 25.5em;
}

.title {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.suggestion-form-label {
    color: rgb(36, 32, 32);
}

.full-name {
    width: 100%;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-bottom: 1em;
}

.details-field {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.full-name:hover {
    border-color: #ffccc7;
}

.email-field {
    width: 100%;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-bottom: 1em;
}

.title-field {
    width: 100%;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-bottom: 0.5em;
}

::-webkit-file-upload-button {
    background: gray;
    color: white;
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.15s ease;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    width: 50%;
    height: 35px;
    font-family: 'Nunito', serif;
}

::-webkit-file-upload-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: black;

}

.image-field {
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-top: 1em;
    background: white;
}

.comment {
    width: 100%;
    height: 296px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    text-align: left;
    margin-top: 1.5em;
    resize: none;
}

.comment:hover {
    border-color: #ffccc7;
}

.submit-btn {
    width: 30%;
    background: gray;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    margin-left: 35%;
    font-family: 'Nunito', serif;
}

.submit-btn:hover {
    background: #237804;
    border: 1px solid #237804;
}

.submit-button {
    margin-top: 1em;
}

.email-field:hover {
    border-color: #ffccc7;
}

.title-field:hover {
    border-color: #ffccc7;
}

.full-name, .title-field, .email-field::placeholder {
    text-align: left;
    font-family: "Nunito", serif;
    padding-left: 10px;

}

.flexbox-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    height: 580px;
    margin: 20px;
}

.flexbox-item {
    width: 96%;
    height: 390px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
    margin: 5px;
    padding: 1em 5px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.tandp {
    display: grid;
    grid-template-rows: [roo1] 100% [roo2];
}

.suggests {
    grid-row-start: r1;
    grid-row-end: r2;
    display: grid;
    grid-template-columns: [co1] 25% [co2] 75% [co3];
    padding: 2px;
}

.pro-pic {
    grid-column-start: co1;
    grid-column-end: co2;
}

.ntt {
    grid-column-start: co2;
    grid-column-end: c03;
    display: grid;
    grid-template-rows: [ro1] 33.3% [ro2] 33.3% [ro3] 33.3% [ro4];
    padding: 2px;
}

.titlesl {
    grid-row-start: ro1;
    grid-row-end: ro2;
    width: 97.7%;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-bottom: 4px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.list-details {
    font-family: "Nunito", serif;
    padding-left: 10px;
    text-align: center;
}

.fullname {
    grid-row-start: ro2;
    grid-row-end: ro3;
    width: 97.7%;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.img {
    grid-row-start: roo1;
    grid-row-end: roo2;
}

.timestamp {
    grid-row-start: ro3;
    grid-row-end: ro4;
    width: 50%;
    height: 20px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sugestedcontent {
    display: grid;
    grid-template-columns: [c1] 40% [c2] 60% [c3];
    padding: 2px;
}

.attachment {
    grid-column-start: c1;
    grid-column-end: c2;
    width: 94%;
    height: 150px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    padding: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.attachment, .details {
    justify-content: center;
}

.description {
    grid-column-start: c2;
    grid-column-end: c3;
    width: 97.8%;
    height: 150px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    padding: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.deletecontainer {
    grid-column-start: c3;
    grid-column-end: c4;
    align-items: center;
}

.delete-btn {
    width: 30%;
    background: gray;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    margin-left: 35%;
    font-family: 'Nunito', serif;
    margin-top: 20px;
}

.delete-btn:hover {
    background: #f5222d;
    border-color: #f5222d;
    color: white;
}