.main-container {
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-top: 5vh;
    padding-left: 6.7em;
    background: #fafafa;
}

.breadcrumb {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}
.wall{
    
    margin-left: 6.7em;
    margin-right: 6.7em;
    display: grid;
    grid-template-columns: [line1] 30% [line2] 70% [line3] ;
    grid-template-rows: [rowline1]1fr[rowline2];
    height: 100vh;
    gap:15px;
}
.important-notice{
    box-shadow: 1px 2px 4px lightgray;
    display: flex;
    flex-direction: column;  
    transition: all ease-in-out 0.5s;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.common-wall{
    
    box-shadow: 1px 2px 4px lightgray;
    padding: 20px;
    background: white;
    transition: all ease-in-out 0.5s;
    border-radius: 10px;
}

.grid-title {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    margin: 5px;

}

.filter-box{
    box-shadow: 1px 2px 4px lightgray;
    border: 1px solid lightgray;
    padding: 3px 3px;
    margin: 0.8em 3px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-between;
    background: white;
    
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.1s;
    height: 25px;
}

.filter-btn {
    width: 38%;
    background: gray;
    border: 1px solid gray;
    font-family: 'Nunito';
 
}

.filter-btn:hover {
  background: white;
  border-color: black;
  color: black;
}

.upload-btn{
    height: 20px;
    font-size: 12px;
    width: fit-content;
    padding: 0 3px;
}

.create-notice-box{
    border: 1px solid lightgray;
    box-shadow: 1px 2px 4px lightgray;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 0.8em 0;
}
.edit-notice-box{
    border: 1px solid lightgray;
    box-shadow: 1px 2px 4px lightgray;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    display: none;
    flex-direction: column;
    padding: 3px;
    margin: 0.8em 0;
}

.create-notice-text{
    resize: none;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height:10em;
    margin: 0 0.8em;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.box-title{
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    margin:0.8em 0;
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content:space-around;     
}

.row-1-gap{
    margin-top:1em;
    
}
.row-2{
    
    justify-content: center;
    display: flex; 
}
.row-2 > label{
    text-align: center;
    margin: 0.8em 0;
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;

}
.row-3{
    
    justify-content: center;
    display: flex;
    
}
.row-4{
    margin-top: 0.2em;
    justify-content: center;
    display: flex;
    padding: 5px 0;
}

.row-4 > button{
    flex-direction: row;
    align-items: space-between;
    width: 30%;
    margin:0 0.4em ;
}
.field-header{
    border: 1px solid lightgray;
    color: gray;
    margin: 0 0.8em;
    border-radius: 5px;
    width: 50%;
    
    
}
.input-field-title {
    width: 100%;
    height: 25px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    margin:0 0.8em;
}
.input-field-message{
    width: 100%;
    height: 100px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    text-align: center;
    margin:0 0.8em ;
}

.notice-box{
    border: 1px solid lightgray;
    box-shadow: 1px 2px 4px lightgray;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 0.8em 0;
}
.notice-content{
    border: 1px solid lightgray;
    height: 10em;
    margin: 0 0.8em;
    border-radius: 5px ;
}
.star-div-off{
    display: block;
    color: gray;
    margin: 0 0.8em;
    cursor: pointer;
}
.star-div-on{
    display: none;
    color: rgb(255, 115, 0);
    margin: 0 0.8em;
}
.edit-btn:hover{
    background: #fa8c16;
    border: 1px solid #fa8c16;
    color: white;
}
.dlt-btn:hover{
    background: #9b131a;
    border: 1px solid #9b131a;
    color: white; 
}

.image-box{
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    height: 150px;
    width: 500px;
    align-items: center;
    margin: 0 0.8em;
    object-fit:scale-down;
    
}
.image-box-notice{
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    height: 100px;
    width: 100px;
    align-items: center;
    margin: 0.8em 120px;
}

.box-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.create-post-box{
    border: 1px solid lightgray;
    box-shadow: 1px 2px 4px lightgray;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
    display: none;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.8em 3px;

}
.row-0{
    display: flex;
    flex-direction: row;
    
}
.wall-top-row{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.wall-top-row > p{
    margin-left: 18em;
}
.create-post-button{
    width: 100px;
    margin-top: 0.4em;
    margin-left: 20em;
}
.create-post-button:hover{
    background: #237804;
    border-color: #237804;
    color: white;
}

.create-post-title{
    margin: 0.8em;
    text-align: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
   
}
.create-post-title:hover{
    box-shadow: 1px 2px 4px lightgray;
}

.create-post-text{
    resize: none;
    width: 120%;
    height:150px;
    margin: 0 0.8em;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.create-post-buttons{
    margin: 0.8em;
    display: flex;
    justify-content: flex-end;
}
.create-post-buttons > button{
    width: 120px;
    margin: 0.2em;
}
.post-report{
    box-shadow: 1px 2px 4px lightgray;
    border: 1px solid lightgray;
    display: none;
    flex-direction: column;
    margin: 0.8em auto;
    width: 60%;
    height: 20%;
    border-radius: 5px;
    padding: 3px;
}
.report-txt{
    resize: none;
    width: 96%;
    height:10em;
    margin: 0 0.8em;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.input-field-report{
    
    height: 100px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    color: gray;
    font-family: "Nunito", serif;
    text-align: center;
    margin:0 0.8em ;
}
.comment-report{
    box-shadow: 1px 2px 4px lightgray;
    border: 1px solid lightgray;
    margin: 0.8em auto;
    display: none;
    flex-direction: column;
    width: 60%;
    height: 50%;
    border-radius: 5px;
    padding: 3px;
}

.filter-left{
display: flex;
flex-direction: row;
width: 35%;
}
.filter-left > button{
    margin:0 3px;
}
.filter-left > input{
    width: 120px;
    margin: 0 0.2em;
}
.filter-right{
    display: flex;
    flex-direction: row;
    width: 40%;
    
}

.filter-right > button{
    margin:0 3px;
}
.post-box{
    
    box-shadow: 1px 2px 4px lightgray;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 0.8em;
}
/* post content grid*/
.post-content{  
    border: 1px solid lightgray;
    border-radius: 10px;
    display: grid;
    margin: 0.8em;
    padding: 0.8em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "  dp  fname fname lname lname time time  . dlt "
    "  dp  title title title title title title title . "
    " pic pic pic txt txt txt txt txt txt "
    " pic pic pic txt txt txt txt txt txt "
    " pic pic pic txt txt txt txt txt txt "
    " pic pic pic txt txt txt txt txt txt"
    " report show-cmnt show-cmnt comment . like-dislike-cell like-dislike-cell like-dislike-cell like-dislike-cell"
    ;
    place-self: center;
    gap: 5px 5px;
}
.post-field {
    border: 1px solid lightgray;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
.dp-box{
    border: 1px solid lightgray;
    grid-area: dp;
    border-radius: 40%;
}
.pic-box{
    border: 1px solid lightgray; 
    grid-area: pic;
    border-radius: 10px;
}
.f-name{
    grid-area: fname;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
    width: 100%;
    
}
.l-name{
    
    grid-area: lname;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
}
.post-time{
    
    grid-area: time;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
}
.post-delete{
    width: 100%;
    grid-area: dlt;
    
}
.post-delete:hover{
    background: #9b131a;
    border: 1px solid #9b131a;
    color: white;
}
.post-title{
    width: 100%;
    grid-area: title;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    font-family: "Nunito", serif;
}   
.post-text{
    
    grid-area: txt;
    height: 100%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
   
}
.report-btn{
    width: 100%;
    grid-area: report;
    justify-self: end;
    margin-top: 0.8em;
}
.report-btn:hover {
    cursor: pointer;
    background: #f5222d;
    border-color: #f5222d;
    color: white;
  }
.comment-btn{
    width: 100%;
    grid-area: comment;
    justify-self: end;
    margin-top: 0.8em;
}
.comment-btn:hover {
    cursor: pointer;
    background: #237804;
    border-color: #237804;
    color: white;
}
.show-comment-btn{
    width: 100%;
    grid-area: show-cmnt;
    justify-self: end;
    margin-top: 0.8em;
}
.show-comment-btn:hover{
    cursor: pointer;
    background: #237804;
    border-color: #237804;
    color: white;
}
.like-dislike-cell{
    display: flex;
    flex-direction: row;
    grid-area: like-dislike-cell;
    justify-content: right;
    padding: 3px 5px;

}
.thumb-icon{
    color: #096dd9;
    border: none;
    background-color: white;
    border-radius: 10px;
    margin:0 0.2em 
} 
.thumb-icon:hover{
    cursor: pointer;
    box-shadow: 0 0 5px  #096dd9;
}
.post-like-count{
    
    grid-area: like-count;
    width: fit-content;
    height: 23px;
    border: 1px solid lightgray;
    margin-top:0.8em;
    margin-left: 0.2em;
}
.post-dislike-count{
    border: 1px solid lightgray;
    grid-area: dislike-count;
    width: fit-content;
    height: 23px;
    margin-top:0.8em;
    margin-left: 0.2em;
}
/*post comment grid*/
.comment-box{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 40%;
    margin: 0.8em;
    display: none;
    flex-direction: column;
}
.comment-title:hover{
    cursor: pointer;
    box-shadow: 0 0 10px lightgray;
    margin-left: 0.8em;
    margin-right: 0.8em;
}
.add-comment{
    display: none;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 0.8em;
}

.comment-content{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0.8em;
    display: grid;
    margin: 0.8em;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.2fr ; /*added 0.2fr to get a little bit of space in the bottom of show comment box*/
    grid-template-areas: 
    "  .  c-fname c-lname c-lname c-time  c-button c-button"
    "  c-dp c-txt c-txt c-txt c-txt c-likes c-likes "
    "  c-dp c-txt c-txt c-txt c-txt  c-likes c-likes"
    "  . c-txt c-txt c-txt c-txt  . . "
    ;
    gap: 5px 5px;
}
.like-box{
    grid-area: c-likes;
    display: flex;
    flex-direction: column;
    
}
.r-1{
    display: flex;
    flex-direction: row;
    margin: 0.8em 0;
    padding: 0 40px;
    
}
.r-2{
    display: flex;
    flex-direction: row;
    margin: 0.8em 0;
    padding: 0 40px;
}
.comment-dp{   
    grid-area: c-dp;
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;   
}
.c-fname{
    grid-area: c-fname;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    width: 100%;
}
.c-lname{
    grid-area: c-lname;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray; 
    width: 100%;
}
.c-time{
    grid-area: c-time;
    height: 40px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    width: 100%;
}
.comment-buttons{
    display: flex;
    flex-direction: row; 
    grid-area:c-button; 
    text-align: center;
    justify-content: space-around;
    align-items: center;  
}
.c-edit{
     margin:0 0.2em;
    height:23px;
    font-size: 14px;
}
.c-edit:hover {
    background: #fa8c16;
    border: 1px solid #fa8c16;
    color: white;
  }
.c-dlt{
    margin:0 0.2em;
    height:23px;
    font-size: 14px;
    text-align: center;
} 
.c-dlt:hover {
background: #237804;
  border: 1px solid #237804;
  color: white;
  }
.c-report{    
    margin:0 0.2em;
    height:23px;
    font-size: 14px;
}
.c-report:hover {
    background: #f5222d;
    border: 1px solid #f5222d;
    color: white;
 }
.c-txt{
    grid-area: c-txt;
    height: 100%;
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    color: gray;
    font-family: "Nunito", serif;
    text-align: center;
    margin:0;
    resize: none;
    padding: 10px;
}
.c-like-count{
    border: 1px solid lightgray;
    grid-area: like-count;
    height: 20px;
    border-radius: 5px;
    justify-self: start;
    align-self: end;
    padding: 2px;
    width: 50%;
    text-align: center;
}
.c-like{
    width: 60%;
    grid-area: like;
    place-self: end;
    height: 23px;
}
.c-like:hover {
    background: #096dd9;
    border: 1px solid #096dd9;
    color: white;
  }
.c-dislike{
    width: 60%;
    grid-area: dislike;
    justify-self: end;
    height: 23px;
    margin: 0;
}
.c-dislike:hover {
    background: #096dd9;
    border: 1px solid #096dd9;
    color: white;
  }
.c-dislike-count{
    margin: 0;
    border: 1px solid lightgray;
    grid-area: dislike-count;
    height: 20px;
    border-radius: 5px;
    justify-self: start;
    padding: 2px;
    width: 50%;
    text-align: center;
}
.show-comment{
    display: flex;
    flex-direction: column;
    
}
.comments-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hide-cmnt-btn{
 margin-top: 0.8em;
  width: fit-content;
  margin-left: 21em;
}

.comments-row > .box-title {
    margin-left: 21em;
}